body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  background-image: url(background.gif);
}

nav {
  position: absolute;
  top: 10%;
  left: 75%;
  border-bottom: 2px solid #3d9be9;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
}

.list {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin: 10px 10px;
}

nav a:hover {
  color: #3d9be9;
}

h1 {
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 90px;
  color: white;
}

p {
  color: #3d9be9;
  font: 50px bold;
  padding: 10px;
}

.p1 {
  position: absolute;
  top: 35%;
  left: 40%;
}
.p2 {
  position: absolute;
  top: 30%;
  left: 25%;
}
@media (max-width: 2560px) {
  header {
    width: 100%;
  }
  .navigation {
    margin-left: -50px;
  }

  .list {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
  }
  h1 {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 12rem;
    color: white;
  }
  .freelancer {
    position: absolute;
    top: 45%;
    left: 40%;
    font-size: 7rem;
  }
  .developer {
    position: absolute;
    top: 37%;
    left: 25%;
    font-size: 7rem;
  }
}
@media (max-width: 1546px) {
  .navigation {
    margin-left: -20rem;
  }
}
@media (max-width: 1440px) {
  .navigation {
    margin-left: -150px;
  }
  .list {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 2.2rem;
  }
  h1 {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 10rem;
    color: white;
  }
  .freelancer {
    position: absolute;
    top: 41%;
    left: 42%;
    font-size: 5rem;
  }
  .developer {
    position: absolute;
    top: 35%;
    left: 25%;
    font-size: 5rem;
  }
}
@media (max-width: 1301px) {
  .navigation {
    margin-left: -22rem;
  }
  h1 {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 7.5rem;
    color: white;
  }
  .freelancer {
    position: absolute;
    top: 37%;
    left: 42%;
    font-size: 4rem;
  }
  .developer {
    position: absolute;
    top: 32%;
    left: 25%;
    font-size: 4rem;
  }
}
@media (max-width: 1024px) {
  .navigation {
    margin-left: -260px;
  }
  .list {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
  }
  h1 {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 8rem;
    color: white;
  }
  .freelancer {
    position: absolute;
    top: 37%;
    left: 42%;
    font-size: 4rem;
  }
  .developer {
    position: absolute;
    top: 32%;
    left: 25%;
    font-size: 4rem;
  }
}
@media (max-width: 868px) {
  h1 {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 6rem;
    color: white;
  }
  .freelancer {
    position: absolute;
    top: 35%;
    left: 42%;
    font-size: 4rem;
  }
  .developer {
    position: absolute;
    top: 29%;
    left: 25%;
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .navigation {
    margin-left: -280px;
  }
  h1 {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 6rem;
    color: white;
  }
  .freelancer {
    position: absolute;
    top: 32%;
    left: 42%;
    font-size: 3rem;
  }
  .developer {
    position: absolute;
    top: 28%;
    left: 25%;
    font-size: 3rem;
  }
}
@media (max-width: 625px) {
  .navigation {
    margin-left: -22rem;
  }
  h1 {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 4rem;
    color: white;
  }
  .freelancer {
    position: absolute;
    top: 32%;
    left: 42%;
    font-size: 3rem;
  }
  .developer {
    position: absolute;
    top: 26%;
    left: 25%;
    font-size: 3rem;
  }
}
@media (max-width: 553px) {
  .navigation {
    margin-left: -22rem;
  }
  .list {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
  }

  h1 {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 3rem;
    color: white;
  }
  .freelancer {
    position: absolute;
    top: 37%;
    left: 40%;
    font-size: 2rem;
  }
  .developer {
    position: absolute;
    top: 33%;
    left: 20%;
    font-size: 2rem;
  }
}
@media (max-width: 425px) {
  .navigation {
    margin-left: -307px;
  }
  .list {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
  }

  h1 {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 3rem;
    color: white;
  }
  .freelancer {
    position: absolute;
    top: 37%;
    left: 40%;
    font-size: 2rem;
  }
  .developer {
    position: absolute;
    top: 33%;
    left: 20%;
    font-size: 2rem;
  }
}
